/**********************************************************************************************
	Title: CSS
	Author: Anastasia Chuprasova
	Date: 2013
***********************************************************************************************
	1. General Elements

	2. Layout
		2.1 Header
		2.2 Banner
		2.3 Content
		2.4 Footer
	3. 	Miscellaneous

***********************************************************************************************/
@import "bootstrap/bootstrap";
@import "_bootstrap-variables";
@import "_content";
@import "_print";
@import "style";

$primary: #047634; /* Bootstrap primary for layout buttons, etc. */

/* 2. LAYOUT
-----------------------------------------------------------------------------------------------
===============================================================================================*/


/* 2.1 HEADER
------------------------------------------------------------------------------------------------ */
#header {
    width: 100%;
    position: relative;
    height: 37px;
    box-shadow: rgba(0, 0, 0, .15) 0 0 10px;
    background: url(../images/bg-content.jpg) 0 0 repeat;
}

/* Bookmarks */
#bookmarks {
    position: relative;
    float: left;
    margin: 0 0 0 8px;
    padding-left: 40px;
    height: 67px;
    line-height: 24px;
    background: url(../images/ico-bookmark.png) 0 0 no-repeat;
}

#bookmarks a {
    text-shadow: #fff 0 1px;
    color: #999;
    font-size: 16px;
    font-weight: bold;
}

/* Search */
#search {
    float: right;
    margin: 4px 5px 0 0;
}

#search form {
    margin: 0;
}

#search input[type="submit"] {
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: url(../images/ico-search.png) 0 0 no-repeat;
}

#search label {
    float: right;
    margin: 0;
    height: 30px;
    text-shadow: #fff 0 1px;
    color: #999;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}

#search input[type="text"] {
    margin: 0 5px;
    width: 156px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
}

/* 2.2 BANNER
------------------------------------------------------------------------------------------------ */
#banner {
    margin: 10px 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, .15) 0 0 10px;
}
/* ----- Layout centering and banner alignment ----- */
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

/* Banner image should be centered within the container */
#banner {
  display: block;
  text-align: center;
  margin: 20px auto;
}

#banner img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
/* ----- Banner layout ----- */
#banner {
  width: 100%;
  text-align: center;
  margin: 0 auto 20px;
}

/* Full-width home banner */
#banner img {
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
}

/* For inner pages, constrain banner to content width */
body:not(.home) #banner img {
  width: 940px;      /* match your container width */
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

/* 2.3 CONTENT
------------------------------------------------------------------------------------------------ */
#content {
    position: relative;
}

/* Article */
article {
    position: relative;
    float: left;
    margin-bottom: 8px;
    width: calc(75% + 8px);
    /* 700 (originally 700) / 940 */
    padding: 1px 0;
    box-shadow: rgba(0, 0, 0, .15) 0 0 10px;
    background: url(../images/bg-content.jpg) 0 0 repeat;
    z-index: 2;
}

.expanded article {
    float: right;
    width: 93.617021277%;
    /* 880 (originally 880) / 940 */
}

article .wrapper {
    position: relative;
    margin: 2.857142857% 4.285714286%;
    padding-bottom: 4.285714286%;
}

article p {
    margin: 0;
    text-indent: 35px;
}

article h1 {
    margin-bottom: 20px;
}

article ul {
    list-style-type: disc;
}

article ol {
    list-style-type: decimal;
}

article li {
    line-height: 24px;
    margin: 11px;
}

#page-num {
    position: relative;
    bottom: -25px;
    text-align: center;
    font-size: .9em;
    line-height: 18px;
}

#page-num .r {
    padding-right: 112px;
    background: url(../images/pagenum-decorate-right.png) 100% 50% no-repeat;
}

#page-num .l {
    padding-left: 112px;
    background: url(../images/pagenum-decorate-left.png) 0 50% no-repeat;
}

#page-num.nopage .r {
    display: inline-block;
    padding: 0 100px 0 0;
}

#page-num.nopage .l {
    padding: 0 0 0 100px;
}

/* Primary navigation */
#nav-primary {
    float: left;
    padding-top: 10px;
    margin-right: -8px;
    padding-left: 8px;
    width: 25%;
    /* 240 (originally 240) / 940 */
}

.expanded #nav-primary {
    position: absolute;
    top: 41px;
    left: 0;
    width: auto;
}

.expanded #nav-primary li {
    text-align: left;
}

.expanded #nav-primary .dropdown {
    left: 60px;
    top: 100%;
}

#nav-primary ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav-primary ul li {
    margin-bottom: -3px;
    font-size: 14px;
    text-align: right;
}

#nav-primary ul li ul li ul li {
    display: none;
}

#nav-primary ul li:hover {
    position: relative;
    z-index: 100;
}

#nav-primary ul li a {
    display: inline-block;
    padding-right: 27px;
    height: 32px;
    line-height: 30px;
    background: url(../images/nav-right.png) 100% 0 no-repeat;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

#nav-primary ul li a span {
    display: block;
    padding: 0 5px 0 16px;
    height: 100%;
    background: url(../images/nav-left.png) 0 0 no-repeat;
    white-space: nowrap;
    text-overflow: ellipsis;

}

#nav-primary ul li:hover>a,
#nav-primary ul li a:hover {
    position: relative;
    z-index: 100;
    text-decoration: none;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -ms-transform: scale(1.2);
}

#nav-primary ul li.active a,
#nav-primary ul li a:hover {}

#nav-primary .dropdown {
    position: absolute;
    left: 100%;
    top: 40%;
    display: none;
    width: 390px;
    z-index: 99;
}

#nav-primary ul li:hover .dropdown {
    display: block;
}

#nav-primary .dropdown ul {}

#nav-primary .dropdown ul li {
    margin-bottom: -5px;
    text-align: left;
}

#nav-primary .dropdown ul li a {
    padding: 0 0 0 27px;
    background: url(../images/nav-left-inner.png) 0 0 no-repeat;
}

#nav-primary .dropdown ul li a span {
    padding: 0 20px 0 5px;
    background: url(../images/nav-right-inner.png) 100% 0 no-repeat;
}

#nav-primary .dropdown ul li a:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -ms-transform: scale(1.1);
}

/* Tools */
.toolbox {
    position: relative;
    margin-left: 25.5319%;
    margin-bottom: 3px;
    text-align: center;
}

.expanded .toolbox {
    margin-left: 6.382978723%;
    /* 60 (originally 60) / 940 */
}

/* Pagination */
.paginations {
    margin: 0;
    display: inline-block;
    font-size: 11px;
}

.paginations ul {
    float: left;
    margin: 0;
}

.paginations ul li {
    float: left;
    margin: 0 5px;
    height: 32px;
}

.paginations ul li a {
    display: block;
    padding-bottom: 14px;
    width: 13px;
    height: 17px;
    background: url(../images/bg-pagination-item.png) 50% 21px no-repeat;
}

.paginations .current a {
    background: url(../images/bg-pagination-item-active.png) 50% 100% no-repeat;
}

.paginations .dir {
    padding-bottom: 0;
    font-size: 14px;
    line-height: 30px;
    background: url(../images/sp-pagination-nav.png) no-repeat;
}

.paginations .dir a {
    width: auto;
    background: none;
}

.paginations .prev {
    margin-right: 21px;
    margin-left: 0;
    padding-left: 89px;
    background-position: 0 0;
}

.paginations .next {
    margin-left: 21px;
    margin-right: 0;
    padding-right: 89px;
    background-position: 100% 100%;
}

.paginations .space {
    margin: 0;
    width: 19px;
    height: 32px;
    background: url(../images/bg-pagination-space.png) 0 23px repeat-x;
}

/* Font */
.toolbox .font {
    position: absolute;
    top: 5px;
    right: 0;
}

.toolbox .font .ico {
    display: block;
    width: 31px;
    height: 18px;
    text-indent: -999em;
    background: url(../images/ico-font.png) 0 0 no-repeat;
}

/* Expand */
.toolbox .expand {
    position: absolute;
    left: -17px;
    top: 0;
    display: block;
    padding-left: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 30px;
    color: #8F8F8F;
    background: url(../images/ico-expand-article.png) 0 0 no-repeat;
}

.toolbox .expand .t1 {
    display: inline;
}

.toolbox .expand .t2 {
    display: none;
}

.expanded .toolbox .expand {
    padding: 0;
    padding-right: 32px;
    background-position: 100% 100%;
}

.expanded .toolbox .expand .t1 {
    display: none;
}

.expanded .toolbox .expand .t2 {
    display: inline;
}

/* Quotes */
blockquote {
    margin: 20px 0;
    padding: 15px 18px;
    border: #dcdcdc 1px solid;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
}

blockquote p {
    line-height: 120%;
}

blockquote .author {
    display: block;
    margin-top: 5px;
    text-align: right;
}


/* 2.4 FOOTER
------------------------------------------------------------------------------------------------ */
#footer {
    margin-top: 20px;
    height: 45px;
    line-height: 30px;
    color: #5B370B;
    font-size: 16px;
    text-align: center;
    background: rgba(0, 0, 0, .1);
}

/* 3. MISCELLANEOUS
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* Headings */
.h-page {
    text-indent: 35px;
}

.h-content {
    text-align: center;
}

.h-decorate {
    text-align: center;
    color: #D54100;
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 20px;
}

.h-decorate .r {
    padding-right: 115px;
    background: url(../images/header-decorate-right.png) 100% 50% no-repeat;
}

.h-decorate .l {
    padding-left: 115px;
    background: url(../images/header-decorate-left.png) 0 50% no-repeat;
}

p.decorate:first-letter {
    font-size: 60px;
    font-weight: bold;
}

.text-hidden {
    position: absolute;
    text-indent: -9999em;
}

/* Margins */
.m1-top {
    margin-top: 10px;
}

.m2-top {
    margin-top: 20px;
}

.m3-top {
    margin-top: 30px;
}

.m1-bottom {
    margin-bottom: 10px;
}

.m2-bottom {
    margin-bottom: 20px;
}

.m3-bottom {
    margin-bottom: 30px;
}

.m1-left {
    margin-left: 10px;
}

.m2-left {
    margin-left: 20px;
}

.m3-left {
    margin-left: 30px;
}

.m1-right {
    margin-left: 10px;
}

.m2-right {
    margin-left: 20px;
}

.m3-right {
    margin-left: 30px;
}


@media (max-width: 979px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 29px;
    }

    h2 {
        font-size: 21px;
    }

    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 15px;
    }

    #nav-primary li a {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 19px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 13px;
    }

    #nav-primary {
        float: left;
        margin: 0 0 15px;
        padding: 0;
        width: 100%;
    }

    #nav-primary ul li {
        float: left;
        clear: left;
        text-align: left;
    }

    #nav-primary ul li a {
        padding: 0 0 0 27px;
        background: url(../images/nav-left-inner.png) 0 0 no-repeat;
    }

    #nav-primary ul li a span {
        padding: 0 20px 0 5px;
        background: url(../images/nav-right-inner.png) 100% 0 no-repeat;
    }

    article {
        width: 100%;
    }

    p.decorate:first-letter {
        font-size: 50px;
    }

    .toolbox {
        float: left;
        margin-left: 0;
        width: 100%;
    }

    .toolbox .expand {
        display: none;
    }
}

@media (max-width: 480px) {
    .paginations ul li {
        margin: 0 2px;
    }

    .paginations .prev {
        margin-right: 15px;
        margin-left: 0;
        padding-left: 0;
        background: none;
    }

    .paginations .next {
        margin-left: 15px;
        margin-right: 0;
        padding-right: 0;
        background: none;
    }
}


/* Search styling overrides*/
.search-results,
.pagenav {
    position: relative;
    right: -1px;
    z-index: 10;
}

.search-item,
.pagenav {
    background: white !important;
}

.pagenav {
    text-align: center;
}

span.highlighted {
    font-weight: bold;
}

/* Picture float overrides */
span.figure {
    padding: 5px;
}

span.figure.right {
    float: right;
}

span.figure.left {
    float: left;
}

span.figure.center span.image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* Contact form */
.cform .form-control {
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: none;
    background: white;
    border: none;
}

button[type='submit'] {
    border: none;
    vertical-align: center;
}
.button {
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    padding: 6px 14px 7px 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background: $primary;
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border: none;
    outline: none;
    &:hover {
        color: #fff;
        background-color: lighten($primary, 10%);
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
        text-decoration: none;
    }
}


.font-changer {
    position: absolute;
    top: -4px;
    right: 0;
    span {
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
    .js-font-decrease {
      font-size: 75%;
    }
    .js-font-increase {
      font-size: 125%;
    }
}

/* Sign up procedure */

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
  }

  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    border: 1px solid #dadce0;
    -webkit-border-radius: 8px;
    border-radius: 8px;

  }

  .box h2 {
    margin: 0px 0 -0.125rem;
    padding: 0;
    color: #fff;
    text-align: center;
    color: #202124;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
  }

  .box p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: center;
  }

  .box .inputBox {
    position: relative;
  }

  .box .inputBox input {
    width: 93%;
    padding: 0.625rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 4px;

  }

  .box .inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: grey;
    pointer-events: none;
    transition: 0.5s;
  }

  .box .inputBox input:focus ~ label,
  .box .inputBox input:valid ~ label,
  .box .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 10px;
    color: #1a73e8;
    font-size: 0.75rem;
    background-color: white;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .box .inputBox input:focus {
    outline: none;
    border: 2px solid #1a73e8;
  }
  .box input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    float: right;
  }

  .box input[type="submit"]:hover {
    background-color: #287ae6;
    box-shadow: 0 1px 1px 0 rgba(66,133,244,0.45), 0 1px 3px 1px rgba(66,133,244,0.3);
  }
