<!-- counter-visitor.html -->
<a href="http://guestscounter.com" class="counter-container">
    <img src="http://guestscounter.com/count.php?c_style=46&id=1761058598" border="0" alt="free hits counter">
</a>
<br>    
<a href="http://guestscounter.com" class="counter-text"> </a>

    <!-- {{- "<div id='visitor-counter' class='visitor-counter'>" | safeHTML }}
{{- "<img src='https://hits.sh/grand-mermaid-cad0ff.netlify.app.svg?style=flat-square' alt='Visitor Count' loading='lazy'>" | safeHTML }}
{{- "</div>" | safeHTML }} -->

<!-- {{- "<div id='visitor-counter' style='text-align:center; margin:1.5rem auto; font-family:PT Serif, serif;'>" | safeHTML }}
{{- "<img src='https://hits.sh/grand-mermaid-cad0ff.netlify.app.svg?style=flat-square' alt='Visitor Count' loading='lazy'>" | safeHTML }}
{{- "</div>" | safeHTML }} -->

<!-- this worked - with styles added in newbirth.scss-->
<!-- {{- "<div id='visitor-counter' style='text-align:center; margin-top:20px;'>" | safeHTML }}
{{- "<img src='https://hits.sh/grand-mermaid-cad0ff.netlify.app.svg?style=flat-square' alt='Visitor Count' loading='lazy'>" | safeHTML }}
{{- "</div>" | safeHTML }} -->
